# =============================================
# Środowisko Python
# =============================================
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# =============================================
# Dane za duże na GitHub
# =============================================
data/raw/
data/processed/
data/cache/
checkpoints/

# =============================================
# Klucze API
# =============================================
.env

# =============================================
# Jupyter
# =============================================
.ipynb_checkpoints/

# =============================================
# System operacyjny
# =============================================
.DS_Store
Thumbs.db
desktop.ini

# =============================================
# IDE
# =============================================
.vscode/

# =============================================
# Logi
# =============================================
logs/
*.log